<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lets-party-style.css">

    <title>Let's Party!</title>
</head>
<body>
<div class="container">

    <div th:replace="~{fragments/header}"></div>

    <div class="py-3 text-center"></div>

    <div class="row" th:each="product : ${products}">
        <div class="col-1"><span th:text="${product.id}"> Id </span></div>
        <div class="col-6"><span th:text="${product.name}"> Name </span></div>
        <div class="col-1"><img src="../../static/images/guacamole400x400WithX.jpg"
                                th:src="@{'/product/'+${product.id}+'/productimage'}"
                                width="200" height="200"></div>
    </div>

    <table>
        <thead>
        <tr>
            <th> id</th>
            <th> name</th>
            <th> image</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td><span th:text="${product.id}"> Id </span></td>
            <td><span th:text="${product.name}"> Name </span></td>
            <td><img src="../../static/images/guacamole400x400WithX.jpg"
                     th:src="@{'/product/'+${product.id}+'/productimage'}"
                     width="200" height="200"></td>
        </tr>
        </tbody>
    </table>



</div>

<div th:replace="~{fragments/footer}"></div>

<script src="/webjars/jquery/jquery.slim.min.js"></script>
<script src="/webjars/popper.js/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>