<nav class="navbar sticky-top navbar-expand-xl navbar-light bg-light">
    <a class="navbar-brand  " href="/">
        <img src="/img/party.png" height="100" width="161" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Aktualności<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">O firmie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/basket">Koszyk</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pools">Ankiety</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/login">Zaloguj się</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('USER', 'ADMIN')">
                <a class="nav-link" href="/logout">Wyloguj się</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('USER')">
                <a class="nav-link" href="/login">Panel Użytkownika</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" href="/admin">Panel Administratora</a>
            </li>
        </ul>
    </div>
</nav>