<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lets-party-style.css">

    <title>Let's Party!</title>
</head>
<body>
<div class="container">

    <div th:replace="~{fragments/menu}"></div>

    <div class="py-3 text-center"></div>

    <div class="row">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">O firmie</h4>
            <hr class="mb-4">
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium delectus
                explicabo fugit laboriosam laborum quaerat quo rem similique veritatis. Laborum odio provident quos sed
                soluta veritatis vero? Aperiam consequuntur deserunt est temporibus! Ad amet animi assumenda deserunt
                doloremque doloribus dolorum eius eligendi enim esse facere illum ipsa ipsum itaque laboriosam magnam
                magni maxime natus pariatur, possimus quae quam quas quis ratione tempore temporibus voluptatibus
                voluptatum. Ad aperiam placeat porro qui voluptate? Ab accusantium aliquid aut cum cumque dicta
                distinctio enim esse est harum incidunt ipsa ipsum nam obcaecati odio officia perspiciatis porro, quia
                quidem quis sapiente sequi tenetur totam vel voluptates. A adipisci alias animi architecto asperiores
                commodi culpa, distinctio dolor dolorum eos esse expedita facere illum inventore iste itaque laborum
                magni maxime nemo odio officiis optio porro provident quasi quia quis quo sint tempora ut veniam. Cumque
                ducimus labore molestiae pariatur praesentium quo quos similique vitae voluptatem. Aliquid debitis
                deleniti et impedit magnam magni modi similique totam. Assumenda commodi dolore ea ex rem suscipit
                tempore veniam. Adipisci aliquid aut eius facere nostrum! Delectus doloremque dolorum eaque iure
                mollitia neque nesciunt placeat quibusdam quidem temporibus. At dicta maiores qui reprehenderit sed sunt
                tempora tempore veritatis? Alias dicta eius eligendi exercitationem, illo in voluptatum! Ab ad, beatae
                culpa doloremque ipsum laborum nam, non quibusdam repellat sunt, unde ut velit voluptatum? Accusamus
                amet aspernatur consequatur cupiditate debitis dolor dolore eaque, est excepturi expedita facere fuga
                fugiat id inventore ipsa iste labore laboriosam maiores natus nihil omnis optio perferendis possimus
                praesentium quae quam quas quia quis quos, ratione reprehenderit sapiente sint suscipit ullam unde
                voluptatem voluptatibus? Consectetur dolorum excepturi facere inventore itaque minima nam nesciunt non
                porro quaerat, quasi quisquam voluptatibus? Assumenda, eos et, fuga fugit iure iusto laborum mollitia
                nostrum optio tempora temporibus tenetur veritatis, voluptatibus. Adipisci aut consequuntur cum libero
                maiores maxime, nesciunt quod repellat tempore vel. Alias cupiditate, enim hic, ipsam modi mollitia nemo
                nesciunt quae, quam quis totam velit. Amet aut cumque hic obcaecati officiis quam quasi ratione
                recusandae temporibus voluptatum? Accusamus accusantium aliquam atque aut corporis dolorem doloremque
                eaque excepturi fugit ipsa, maiores molestias numquam optio perspiciatis, reiciendis tempora vero
                voluptas. A aliquam aliquid blanditiis cupiditate dignissimos, doloremque earum eligendi eos error hic
                illum inventore ipsum iste iure iusto laboriosam laborum libero magni minus molestiae natus odit omnis
                pariatur quia reiciendis repudiandae sit tempora ut veniam voluptatibus. Aliquid at autem dolores eum
                explicabo facilis in itaque libero minus perferendis quidem quod saepe sapiente sed, tempore, velit
                voluptatum. Amet asperiores atque autem consectetur cum dolore dolorum ducimus eius facere facilis
                impedit iusto minus necessitatibus, nihil non obcaecati odit omnis qui quidem quos rem reprehenderit
                sequi sint vel vitae voluptas voluptates! Expedita explicabo fugiat fugit iure laboriosam laudantium
                magni minus molestiae mollitia nisi officiis praesentium quasi quibusdam recusandae, repellendus sed
                totam? Ab, ducimus eveniet facere fugit iure minus possimus quae totam. Consequatur doloremque excepturi
                impedit itaque laborum, minus nobis obcaecati ratione velit voluptatibus. Ab consequatur culpa deserunt
                eius eum ex incidunt maiores mollitia necessitatibus nisi, officia quidem repellendus velit? Eum.</p>
        </div>
        <div class="col-md-4 order-md-2 mb-4">
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer}"></div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>