<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lets-party-style.css">

    <title>Let's Party!</title>
</head>
<body>
<div class="container">

    <div th:replace="~{fragments/header}"></div>

    <div class="py-3 text-center"></div>

    <div class="row">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">O firmie</h4>
            <hr class="mb-4">
            <p class="text-justify">Prowadzimy imprezy od 9 lat – i mamy na to licencję! 😉

                Jeśli chcesz, żeby Twoje wydarzenie było naprawdę wyjątkowe, to jesteś we właściwym miejscu.

                Zajmujemy się prowadzeniem wesel – także bezalkoholowych, koncertów, imprez integracyjnych i sportowych, a także bali i studniówek. Lubimy wyzwania i na pierwszym miejscu zawsze stawiamy oczekiwania klientów, więc możesz mieć pewność, że do Twojej wyjątkowej imprezy podejdziemy indywidualnie i z pełnym zaangażowaniem.

                Dzięki współpracy z DJ-ami, jesteśmy w stanie zapewnić kompleksową opiekę nad wydarzeniem które planujesz.

                Każda z nas jest pogodna, roztańczona i ma bardzo dobrą dykcję o którą dbamy pod opieką medialnych logopedów.

                Poprowadzimy każdą imprezę, na której liczy się dobra zabawa!</p>
        </div>
        <div class="col-md-4 order-md-2 mb-4">
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer}"></div>

<script src="/webjars/jquery/jquery.slim.min.js"></script>
<script src="/webjars/popper.js/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>