<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lets-party-style.css">
    <link rel="stylesheet" type="text/css" href="/css/zabuto_calendar.css">
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css">

    <title>Let's Party!</title>
</head>
<body>
<div class="container">

    <div th:replace="~{fragments/header}"></div>

    <div class="py-3 text-center"></div>
    <div class="row">
        <div class="col-md-8 order-md-1">
            <h4>Zamówienie zostało złożone</h4>
            <hr/>
            Twój opiekun zgłosi się do Ciebie z informacją o terminie realizacji zamówienia.
        </div>
        <div class="col-md-4 order-md-2 mb-4">
            <div th:replace="~{fragments/rightsidebar}"></div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>
<script>
    $(document).ready(function () {

        updateTable();

        function updateTable() {
            var total = 0;
            $('tr[row-id]').each(function (i, row) {
                var $row = $(row);
                var price = parseFloat($row.find("td[id='price']").html().replace(/\s+/g, ''));
                var pieces = parseInt($row.find("td[id='pieces']").html());
                $row.find("td[id='cost']").html(addSpaces((price * pieces).toFixed(2).replace(".", ",")));
                total = total + price * pieces;
            });
            $("#total").html(addSpaces(total.toFixed(2).replace(".", ",")));
        }

        function addSpaces(nStr) {
            nStr += '';
            x = nStr.split(',');
            x1 = x[0];
            x2 = x.length > 1 ? ',' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ' ' + '$2');
            }
            return x1 + x2;
        }
    });
</script>
</body>
</html>