<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lets-party-style.css">
    <link rel="stylesheet" type="text/css" href="/css/zabuto_calendar.css">
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css">

    <title>Let's Party!</title>
</head>
<body>
<div class="container">

    <div th:replace="~{fragments/header}"></div>

    <div class="py-3 text-center"></div>
    <div class="row">

        <div class="col-md-8 order-md-1">

            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Opis</th>
                        <th scope="col">Cena<br/>zakupu [PLN]</th>
                        <th scope="col">Cena<br/>wypożyczenia [PLN]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="../../static/images/guacamole400x400WithX.jpg"
                                 th:src="@{'/items/'+${item.getId()}+'/image'}"
                                 width="150" height="150">
                        </td>
                        <td th:text="${item.getName()}">Tutaj będzie nazwa</td>
                        <td th:text="${item.getDescription()}">Tutaj będzie opis</td>
                        <td th:text="${item.getBuy()}? ${#numbers.formatDecimal(item.getBuy(),1, 'WHITESPACE',2, 'COMMA')}:'-'">Tutaj będzie cena zakupu</td>
                        <td th:text="${item.getHire()}? ${#numbers.formatDecimal(item.getHire(),1, 'WHITESPACE',2, 'COMMA')}:'-'">Tutaj będzie cena wypożyczenia</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 order-md-2 mb-4">
            <div th:replace="~{fragments/rightsidebar}"></div>
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer}"></div>


</body>
</html>