<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lets-party-style.css">
    <link rel="stylesheet" type="text/css" href="/css/zabuto_calendar.css">
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css">

    <title>Let's Party!</title>
</head>
<body>
<div class="container">

    <div th:replace="~{fragments/header}"></div>

    <div class="py-3 text-center"></div>
    <div class="row">

        <div class="col-md-8 order-md-1">
            <h4 class="mb-3" th:text="${item.getName()}">Tutaj będzie nazwa produktu</h4>
            <hr class="">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td>
                        <img src="../../static/images/guacamole400x400WithX.jpg"
                             th:src="@{'/items/'+${item.getId()}+'/image'}"
                             width="200" height="200">
                    </td>
                    <td>
                        <form method="POST" th:action="@{'/item/'+${item.getId()}}">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td colspan="2"><p th:text="${item.getDetails()}"></p></td>
                                </tr>
                                <tr class="text-center">
                                    <td width="50%">
                                        <div th:if="${item.getStock_buy()}">
                                            <label for="buy">Możesz kupić: <b><span
                                                    th:text="${item.getStock_buy()}"/></b>
                                                szt.</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" aria-label="liczba sztuk"
                                                       aria-describedby="liczba_sztuk" name="buy_pcs">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="buy">szt.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="50%">
                                    </td>
                                </tr>
                                <tr class="text-center">
                                    <td width="50%">
                                        <div th:if="${item.getStock_buy()}">
                                            <input type="submit" class="btn btn-primary" value="KUP"/>
                                        </div>
                                    </td>
                                    <td width="50%">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 order-md-2 mb-4">
            <div th:replace="~{fragments/rightsidebar}"></div>
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer}"></div>


</body>
</html>