<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lets-party-style.css">
    <link rel="stylesheet" type="text/css" href="/css/zabuto_calendar.css">
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css">

    <title>Let's Party!</title>
</head>
<body>
<div class="container">

    <div th:replace="~{fragments/header}"></div>
    <div class="py-3 text-center"></div>

    <div class="row">
        <div class="col-8 order-md-1">
            <h4>Ankiety</h4>
            <hr/>
            <div class="py-3"></div>
            <div th:each="pool : ${pools}" th:object="${pool}">
                <div class="mb-1 text-center"><b><span th:text="*{question}"> Question </span></b></div>
                <div class="" th:each="answer : ${pool.getAnswers().iterator()}" th:object="${answer}">
                    <div class="text-left"><span
                            th:text="${answer.getAnswer()}"></span></div>
                    <div class="progress mb-1">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                             th:text="${answer.getPercent()}+'%'"
                             th:style="'width: '+${answer.getPercent()}+'%'" aria-valuenow="75" aria-valuemin="0"
                             aria-valuemax="100">50
                        </div>
                    </div>
                </div>
                <div class="text-left">Data rozpoczęcia: <span
                        th:text="${#temporals.format(pool.getStartDate(), 'dd-MM-yyyy')}"></span></div>
                <div class="mb-1 text-left">Data zakończenia: <span
                        th:text="${#temporals.format(pool.getEndDate(), 'dd-MM-yyyy')}"></span></div>
                <div class="mb-1 text-center">Łączna liczba głosujących:<b><span
                        th:text="${pool.getTotalVotes()}"> 100 </span></b></div>
                <hr/>
            </div>
        </div>
        <div class="col-4 order-md-2 mb-4">
            <div th:replace="~{fragments/rightsidebar}"></div>
        </div>
    </div>
    <div th:replace="~{fragments/footer}"></div>
</body>
</html>