<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lets-party-style.css">

    <title>Let's Party!</title>
</head>
<body>
<div class="container">

    <div th:replace="~{fragments/menu}"></div>


    <div class="py-3 text-center"></div>

    <div class="row">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Załóż konto</h4>
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Imię</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Wpisz imię" value=""
                               required>
                        <div class="invalid-feedback">
                            Proszę podać poprawne imię.
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="lastName">Nazwisko</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Wpisz nazwisko" value=""
                               required>
                        <div class="invalid-feedback">
                            Proszę podać poprawne nazwisko.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="imie.nazwisko@przyklad.pl"
                           required>
                    <div class="invalid-feedback">
                        Proszę podać poprawny adres email.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password">Hasło</label>
                    <input type="password" class="form-control" id="password" placeholder="Wpisz hasło" required>
                    <div class="invalid-feedback">
                        Proszę wpisać ponownie to samo hasło.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="repeatedPassword">Powtórzenie hasła</label>
                    <input type="password" class="form-control" id="repeatedPassword"
                           placeholder="Wpisz ponownie hasło" required>
                    <div class="invalid-feedback">
                        Proszę wpisać ponownie to samo hasło.
                    </div>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address" required>
                    <label class="custom-control-label" for="same-address">Zgadzam się i akceptuję warunki
                        <a href="" data-toggle="modal"
                           data-target="#exampleModal">Regulaminu</a></label>
                    <div class="invalid-feedback">
                        Proszę zaakceptować warunki.
                    </div>
                </div>

                <hr class="mb-4">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">ZAREJESTRUJ SIĘ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid beatae consectetur corporis eligendi
                ex, excepturi fuga fugit iste maiores mollitia nam natus nesciunt nisi odit quae reiciendis repellat
                repudiandae sequi sit temporibus vero voluptatem? Accusamus asperiores dicta, doloremque et ex excepturi
                expedita in ipsam libero maiores molestiae natus numquam pariatur placeat porro, possimus praesentium
                quidem quis quod reiciendis repellendus repudiandae saepe sunt velit voluptate! Ad animi asperiores
                debitis dolores enim eveniet exercitationem ipsum laborum maxime quasi, quidem quod reiciendis sapiente?
                Commodi cumque dignissimos distinctio doloribus facere illo labore libero molestias neque, officia
                quibusdam, rerum saepe, tempora ullam voluptate voluptates.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer}"></div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>